doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/javascripts/components/bootstrap/dist/css/bootstrap-theme.min.css')
    script(type='text/javascript', src='/javascripts/components/bootstrap/dist/js/bootstrap.min.js')
  body
    h1 Screenshot Viewer
    block content