extends layout

block content
  h2 /#{page}
  ul.nav.nav-tabs
    each size in breakpoints
      li(class=(breakpoint === size) ? 'active' : '')
        a(href='?page=' + page + '&breakpoint=' + size)= size[0].toUpperCase() + size.slice(1)
  ol.screenshots
    each screenshot in screenshots
      li.screenshot
        h3= screenshot.date
        img(src=screenshot.src)