body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.screenshots {
    list-style: none;
    white-space: nowrap;
    overflow: scroll;
    height: 800px;
    padding: 10px 20px;
}
.screenshot {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.screenshot h3 {
    margin-top: 0;
}